<div class="container mt-5 d-flex justify-content-center">
    <h1 >La superette Ben Salem</h1>
    <div class="container mt-5 d-flex justify-content-center">
      <a routerLink="/product/new"class="text-white">
        <button class="p-2 btn btn-dark m-2">Ajouter un produit</button>
      </a>
      <a routerLink="/Profil "class="text-white">
        <button class="p-2 btn btn-dark m-2">Mon Profil</button>
      </a>

      <button class=" btn btn-dark m-2 "(click)="onClickSignOut()">Déconnexion</button>
    </div>
  </div>
