
<div class="container">
    <div class="row">
     <div class="col-md-12">
         <div class="text-center p-4">
            <h1>Oups!</h1>
            <h2>arjaa33 ghalet</h2>
            <div class="mt-2 mb-2">
             efhem ro7ek malla bhema!!
            </div> 
            <div class="mr-1">
             <a routerLink="/auth" class="btn btn-dark btn-lg">
                     Page d'accueil
                
             </a>
            </div>
         </div>
     </div>
    </div>
 </div>